html {
  font-size: calc(1vw + 0.5rem);
  padding: 0;
  margin: 0;
  background: #1E1E1E;
}
@media (min-width: 1920px) {
  html {
    font-size: calc(0.7vw + 0.5rem);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .container {
    padding: 0 3rem;
  }
}
@media (max-width: 1440px) {
  .container {
    padding: 0 3rem;
  }
}

.container-withoutPadding {
  max-width: 1920px;
}
@media (min-width: 1920px) {
  .container-withoutPadding {
    margin: 0 auto;
  }
}

.container-withoutMargin {
  max-width: 1920px;
}
@media (min-width: 1440px) {
  .container-withoutMargin {
    padding: 0 3rem;
  }
}
@media (max-width: 1440px) {
  .container-withoutMargin {
    padding: 0 3rem;
  }
}

.section-hero {
  width: 100%;
  background: #fff;
}
.section-hero .first {
  overflow: hidden;
  padding-top: 2rem;
}
.section-hero .first .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-hero .first .first-text {
  width: 60%;
}
.section-hero .first .first-text .first-logo img {
  width: 15rem;
}
.section-hero .first .first-text .first-vision {
  white-space: nowrap;
  padding-top: 1rem;
  font-size: 2.4rem;
}
.section-hero .first .first-text .first-title span {
  color: #5D3131;
}
.section-hero .first .first-img {
  width: 30%;
}
.section-hero .first .first-img img {
  width: 100%;
  max-width: 25rem;
}
@media (min-width: 1920px) {
  .section-hero .first .first-img img {
    width: 100%;
    max-width: 35rem;
  }
}
@media (max-width: 1440px) {
  .section-hero .first .first-img {
    display: none;
  }
}
.section-hero .second-bg {
  margin-top: 2rem;
  max-width: 100%;
  margin-bottom: -1rem;
}

.title {
  font-weight: 800;
  font-size: 6rem;
  margin: 0;
  line-height: 1;
}
@media (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 3.8rem;
  }
}

.bg {
  width: 100%;
}

.section-discord {
  overflow: hidden;
  background: #fff;
  position: relative;
  z-index: 1;
}
.section-discord .discord-image {
  width: 100%;
  object-fit: cover;
  margin-bottom: -1rem;
  position: relative;
  z-index: 1;
}
.section-discord .discord-box {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  margin-left: -0.4rem;
}
.section-discord .discord-box img {
  margin-left: 2rem;
  width: 6rem;
  height: 6rem;
  transform: translateY(0.2rem);
}
@media (max-width: 768px) {
  .section-discord .discord-box img {
    width: 4rem;
    height: 4rem;
  }
}
@media (max-width: 480px) {
  .section-discord .discord-box img {
    display: none;
  }
}
.section-discord .discord-box h1 {
  color: #1E1E1E;
}
.section-discord .discord-button {
  background: #1E1E1E;
  display: flex;
  align-items: center;
  color: #D9D9D9;
  padding: 0.8rem 1.8rem;
  margin-top: 1.4rem;
  border: none;
  border-radius: 0.8rem;
}
.section-discord .discord-button p {
  font-size: 2.4rem;
  margin: 0;
}
.section-discord .discord-button img {
  margin-left: 1.2rem;
  margin-top: 0.2rem;
  width: 3.8rem;
}

.section-kreativ {
  position: relative;
  overflow-x: hidden;
}
.section-kreativ img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  object-fit: cover;
}
.section-kreativ .kreativ-text {
  padding: 4rem 0 15rem 0;
  position: relative;
  color: #D9D9D9;
  z-index: 5;
}
@media (min-width: 1440px) {
  .section-kreativ .kreativ-text {
    padding: 2rem 0 10rem 0;
  }
}
@media (max-width: 1200px) {
  .section-kreativ .kreativ-text h1 {
    max-width: 70%;
  }
}
@media (max-width: 700px) {
  .section-kreativ .kreativ-text h1 {
    max-width: 100%;
  }
}
.section-kreativ .kreativ-text span {
  color: #5D3131;
}
.section-kreativ .kreativ-text h1 {
  margin: 2.4rem 0 1.2rem 0;
  font-size: 4.8rem;
}
@media (min-width: 1440px) {
  .section-kreativ .kreativ-text h1 {
    white-space: nowrap;
  }
}
@media (max-width: 1440px) {
  .section-kreativ .kreativ-text h1 {
    font-size: 3.2rem;
  }
}
@media (max-width: 480px) {
  .section-kreativ .kreativ-text h1 {
    font-size: 2.4rem;
  }
}
.section-kreativ .kreativ-text h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.section-ticker {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 3rem 0;
  background: #fff;
}
.section-ticker .ticker-text {
  display: inline-block;
  font-size: 8.4rem;
  color: #1E1E1E;
}

.section-bridge {
  width: 100%;
}
.section-bridge img {
  width: 100%;
}

.section-video {
  max-width: 100%;
  padding-bottom: 5rem;
}
.section-video .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-video .video-content {
  width: 60%;
}
@media (max-width: 1024px) {
  .section-video .video-content {
    width: 100%;
  }
}
.section-video .video-content h3 {
  color: #D9D9D9;
  margin-bottom: 2rem;
}
.section-video .video-content h3 span {
  color: #5D3131;
}
.section-video .video-content iframe {
  width: 100%;
  height: 20rem;
}
.section-video .video-image {
  width: 30%;
}
@media (max-width: 1024px) {
  .section-video .video-image {
    display: none;
  }
}
.section-video .video-image img {
  width: 100%;
}

.slider {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.slider-wrapper {
  position: relative;
  width: 100%;
}

.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 2rem 0 8rem 0;
  position: relative;
}
@media (max-width: 1024px) {
  .slide {
    height: 25rem;
  }
}
.slide.active {
  display: flex;
}
.slide .slide-box {
  width: 100%;
}
.slide .slide-box .slide-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.slide .slide-box .slide-image {
  width: 25rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  transform: translateY(38%);
}
@media (max-width: 1024px) {
  .slide .slide-box .slide-image {
    display: none;
  }
}
.slide .slide-box .slide-vss {
  width: 30rem;
}
@media (min-width: 1440px) {
  .slide .slide-box .slide-vss {
    width: 40rem;
  }
}
.slide .slide-box .slide-text {
  position: relative;
  z-index: 5;
  margin-top: 1rem;
}
.slide .slide-box .slide-text .slide-title img {
  width: 10rem;
}
@media (max-width: 1440px) {
  .slide .slide-box .slide-text .slide-title img {
    display: none;
  }
}
.slide .slide-box .slide-text .slide-title .slide-ui-element {
  display: inline-block;
  transform: rotate(-10deg);
  color: #5D3131;
}
.slide .slide-box .slide-text .slide-title .slide-title-red {
  color: #5D3131;
}
@media (min-width: 1440px) {
  .slide .slide-box .slide-text h1 {
    white-space: nowrap;
  }
}
.slide .slide-box .slide-text p {
  font-size: 2rem;
  font-weight: 400;
}

.navigation {
  width: 100%;
  height: 5rem;
  position: absolute;
  z-index: 5;
  bottom: 1rem;
  left: 0;
}
.navigation .container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 10;
  background: none;
}

.arrow.prev:hover {
  transform: translateX(-0.3rem);
}

.arrow.next:hover {
  transform: scale(1.05);
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #D9D9D9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  background: #FFC107;
}

.dot:hover {
  background: #FFC107;
}

/*# sourceMappingURL=style.css.map */
